:root {
    
}

body {
    
}

.header {
    display: flex;
    width: 100%;
    /* min-height: 5%;
    max-height: 10%; */
    height: 5%;
    font-size: 24pt;
    color: white;
    text-shadow: 2px 2px #000000;
    justify-content: center;
    /* margin: -15px; */
    /* padding-bottom: 40px; */
    /* background stuff */
    background: linear-gradient(-45deg, #5788fa, #0202fe, #23a6d5, #1406d5);
	  /* background stuff; */
  /* border: solid 2px black; */
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: solid 2px rgb(238, 13, 13); */
}

.leftSideBar {
    /* border: solid 2px black;     */
    width: 15%;
    height: 800px;
}

.selectedCity {
    /* border: solid 2px rgb(9, 66, 33); */
    width: 84%;
    height: 50%;
    margin: 10px;
    padding: 1%;
}

.selectedCityCurrent {
    border: solid 2px black;
}

.fiveDayBox {
    display: flex;
    
}

#forecast {
    
}


.day1 {
    background-color: grey;
    width: 10%;
    height: 15%;
    color:white;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}

.day2 {
    background-color: grey;
    width: 10%;
    height: 15%;
    color:white;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}

.day3 {
    background-color: grey;
    width: 10%;
    height: 15%;
    color:white;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}

.day4 {
    background-color: grey;
    width: 10%;
    height: 15%;
    color:white;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}

.day5 {
    background-color: grey;
    width: 10%;
    height: 15%;
    color:white;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 20px;
}

.this {
    border-style: solid;
    border-color: black;
}